<section class="s1">
  <div class="main-container">
    <div class="greeting-wrapper">
      <h1>
        Hi, I'm Nimesh Maharjan
      </h1>
    </div>
    <div class="intro-wrapper">
        <div class="nav-wrapper">
            <div class="dots-wrapper">
                <div class="browser-dot" id="dot1"></div>
                <div class="browser-dot" id="dot2"></div>
                <div class="browser-dot" id="dot3"></div>
            </div>
            <ul id="navigation">
                <li><a href="#cv">CV</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="left-column">
            <img id="profilePic" src="../../../assets/Images/IMG_7676.JPG" alt="">
            <h5 style="text-align: center;line-height: 0;" class="mt-4">
                Personalize Theme
            </h5>
            <div id="theme-options-wrapper">
                <div id="lightMode" class="themeDot"></div>
                <div id="blueMode" class="themeDot"></div>
                <div id="greenMode" class="themeDot"></div>  
                <div id="purpleMode" class="themeDot"></div>  
            </div>
            <p id="settingNote">
                *Theme settings will be saved for <br>
                your next visit.
            </p>
        </div>
        <div class="right-column">
            <div id="previewShadow">
                <div id="preview">
                    <div id="corner-tl" class="corner"></div>
                    <div id="corner-tr" class="corner"></div>
                    <h3>
                        What I Do
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quam repudiandae sequi facere expedita dolorem iste sit labore quos porro tempora eius recusandae veritatis ullam! Repellendus suscipit eos culpa consectetur!
                    </p>
                    <div id="corner-br" class="corner"></div>
                    <div id="corner-bl" class="corner"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<section class="s2">
  <div class="main-container">
    About
  </div>
</section>
<section class="s1">
  <div class="main-container">
    Portfolio
  </div>
</section>
<section class="s2">
  <div class="main-container">
    Contact
  </div>
</section>