@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap');

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
:root{
    --mainColor: #eaeaea;
    --secondaryMainColor: #fff;
    --borderColor: #c1c1c1;
    --mainText: rgb(54, 54, 54);
    --secondaryText: #4b5156;
    --themeDotBorder: #24292e;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 56px;
}
a{
    text-decoration: none;
    color: #17a2b8;
}
ul{
    list-style-type:none;
}

